In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('assist09_test/skill_builder_data_corrected.csv',encoding='ISO-8859-1')

/var/folders/z2/kds62tbj3x93zghv2_jz1xsr0000gn/T/ipykernel_68955/1893765437.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('assist09_test/skill_builder_data_corrected.csv',encoding='ISO-8859-1')

In [3]:
data = data1.dropna(axis=0,subset=['skill_id','problem_id','user_id','correct','order_id'])

In [4]:
len(set(data['skill_id']))

123

In [5]:
data = data.sort_values('order_id')

In [6]:
data

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
274929,20224085,232368,73963,42904,76429,0,0,3,106016,tutor,...,0,0,112313,31690,128739.0,NaN,0,NaN,1,NaN
274930,20224095,232368,73963,42904,76430,0,1,1,194187,tutor,...,0,0,194187,31690,128742.0,NaN,0,NaN,2,NaN
274931,20224113,232368,73963,42904,76431,0,1,1,12734,tutor,...,0,2,12734,31690,NaN,35,0,NaN,3,NaN
274932,20224123,232368,73963,42904,76432,0,1,1,333484,tutor,...,0,1,333484,31690,128750.0,NaN,0,NaN,4,NaN
274933,20224142,232368,73963,42904,76433,0,0,2,52828,tutor,...,2,2,65203,31690,NaN,2.5,0,1.0,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19381,38310200,290668,96282,73176,135601,1,1,1,5230,tutor,...,0,2,5230,63443,NaN,30,0,NaN,9,9.0
46688,38310201,290668,96282,73177,135602,1,1,1,5532,tutor,...,0,2,5532,63443,NaN,30,0,NaN,13,13.0
19382,38310201,290668,96282,73177,135602,1,1,1,5532,tutor,...,0,2,5532,63443,NaN,30,0,NaN,10,10.0
19383,38310202,290668,96282,73191,135616,1,1,1,7910,tutor,...,0,2,7910,63444,NaN,42,0,NaN,11,11.0
42761,38310202,290668,96282,73191,135616,1,1,1,7910,tutor,...,0,2,7910,63444,NaN,42,0,NaN,3,3.0

In [7]:
len(set(data['skill_id']))

123

In [8]:
skill_ids = list(set(data['skill_id']))

In [9]:
problem_ids = list(set(data['problem_id']))

In [10]:
skill2id = {s:i for i,s in enumerate(skill_ids)}
problem2id = {p:i for i,p in enumerate(problem_ids)}

In [11]:
user_data = {}
for index,row in data.iterrows():
#     print(row['user_id'],row['problem_id'],row['correct'])
    user_id = row['user_id']
    skill_id = skill2id[row['skill_id']]
    problem_id = problem2id[row['problem_id']]
    correct = row['correct']
    if user_id in user_data:
        user_data[user_id][0].append(problem_id)
        user_data[user_id][1].append(skill_id)
        user_data[user_id][2].append(correct)
    else:
        user_data[user_id] = [[problem_id],[skill_id],[correct]]

In [12]:
len(user_data)

4163

In [13]:
all_data = list(user_data.values())

In [14]:
len(all_data)

4163

In [15]:
train_n = int(0.9*len(all_data))

In [16]:
train_data = all_data[:train_n]
val_data = all_data[train_n:]

In [ ]:
import json

In [ ]:
with open('train_pid.json','w') as f:
    json.dump(train_data,f)

In [ ]:
with open('val_pid.json','w') as f:
    json.dump(val_data,f)

In [ ]:
seq_len = 200

In [ ]:
data = []
for user_id in user_data:
    problems,skills,correct=user_data[user_id]
    print(problems)
    print(skills)
    print(correct)
    break

In [46]:
seq_len = 200

In [45]:
data = []
for user_id in user_data:
    problems,skills,correct=user_data[user_id]
    print(problems)
    print(skills)
    print(correct)
    break

[4299, 4300, 4301, 4302, 4303, 4304, 4209, 4210, 4211, 4212, 4213, 4214, 4216, 4219, 4257, 4258, 4259, 4260, 4261, 4262, 4263, 4266, 4273, 4274, 4275, 4276, 4277, 4278, 4279, 4280, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4241, 3714, 3748, 3680, 3653, 3667, 3715, 3687, 3820, 3884, 3874, 3888, 3848, 3847, 3832, 4242, 4243, 4246, 4248, 6982, 3681, 3732, 3685, 3746, 3683, 3692]
[89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 26, 26, 26, 26, 26, 26, 26, 25, 25, 25, 25, 25, 25, 25, 89, 89, 89, 89, 37, 26, 26, 26, 26, 26, 26]
[0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1]